.container {
  max-width: 100%;
  padding: 10px;
  padding-bottom: 2.5rem
}
.title {
  font-size: 3rem;
  padding: 0px;
  margin-right: 20em;
}
#main {
  position: relative;
  top: 30%;
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
}
#airbus-pdf {
  padding: 0.75rem 1.5rem;
}
header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem;
  margin-right: 1rem;
  margin-left: 1rem;
  top: 0;
  z-index: 100;
}
.nav-buttons {
  list-style-type: none;
  padding: 0;
  text-align: center;
  list-style: inside;
}
.nav-buttons li {
  display: inline;
  margin: 1%;
}
#btn-one, #btn-two, #btn-three {
  width: 30em;
  padding: 0.75rem 1.5rem;
  margin: 0.5%;
}
.note-page {
    text-align: center;
    padding: 20px;
}
.note-text {
  display: inline-block;
  border: none;
  padding: 10px;
  margin: 10px 0;
  max-width: 100%;
  overflow: auto;
  color:#fff;
  background-color: #00000049;
}
p {
  margin: 0;
}
header h1 {
  font-size: 2rem;
}
.serv {
  border: none;
  padding: 20px;
  margin: 20px 0;
  max-width: 100%;
  overflow: auto;
  background-color: #00000049;
  color: #fff;
  text-align: center;
}
.person {
  flex: none;
  border: none;
  margin: 20px 0;
  max-width: 100%;
  overflow: auto;
  color: #fff;
  text-align: center;
}
.person p {
  display: inline-block;
  background-color: #0000007e;
}
.person img {
  max-width: 5rem;
}
a {
  text-decoration: none;
  color: #fff;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.linkedin {
  float: right;
  max-width: 2rem;
  margin-left: auto;
  margin-right: 0.5rem;
}
.insta {
  float: right;
  max-width: 2.1rem;
  margin-top: -1px;
  margin-left: auto;
  margin-right: 0.5rem;
}
@media (max-width: 574px) {
  button {
    padding:0.75rem 10%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
  }
  .nav-buttons li {
    display: inline;
    margin: 1%;
  }
}